/* Palet de Cores
        #645CAA
        #A084CA
        #BFACE0
        #EBC7E8 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: #645CAA;
}

h1 {
    text-align: center;
    margin: 50px;
    color: #BFACE0;
}

.circle {
    width: 300px;
    height: 300px;
    border: solid 10px #EBC7E8;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.timer {
    display: block;
    margin: auto;
    text-align: center;
    line-height: 300px;
}

.timer p {
    display: inline;
    font-weight: bolder;
    font-size: 50px;
    color: #EBC7E8;
}

.config {
    height: 100px;
    display: block;
    margin: auto;
}

.buttons {
    display: block;
    margin: auto;
    text-align: center;
    line-height: 100px;
    margin-top: 30px;
}

.play {
    background-color: #645CAA;
    color: #EBC7E8;
}

.reset {
    background-color: #645CAA;
    color: #EBC7E8;
}

.buttons button:hover {
    cursor: pointer;
}
.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px;        
    background-color: #A084CA;
}

.copy {
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
}

.redes {
    display: block;
    text-align: center;
    padding: 20px;
}

.redes i {
    display: inline;
    color: #ffff;
    margin: auto;
    padding: 20px 10px;
}

.redes i:hover {
    cursor: pointer;
}